<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>fr.fotozik.DNSSwitcher.helper</string>
    <key>BundleProgram</key>
    <string>MacOS/DNSSwitcherHelper</string>
    <key>MachServices</key>
    <dict>
        <key>fr.fotozik.DNSSwitcher.helper</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <string>fr.fotozik.DNSSwitcher</string>
</dict>
</plist>
